body {
  background-color: #fafafa80;
  font-family: Arial;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  height: 77px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-button {
  width: 100px;
  height: 20px;
}

.navbar-spacer {
  width: 225px;
}

.logo-name-navbar {
  font-family: billabong;
  font-size: 35px;
  margin: 5px;
  font-weight: 100;
}

.logo-navbar {
  width: 45px;
  height: 45px;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.navbar-pipe {
  width: 1px;
  height: 32px;
  background-color: #262626;
  margin: 10px;
}

.welcome {
  font-family: billabong;
  font-size: 35px;
  font-weight: 100;
}

.profile-pic {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border-color: #000;
  margin: 10px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-index-list {
  list-style: none;
}

.feed-image {
  height: 600px;
  width: 600px;
}

.feed-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding-top: 80px;
}

.feed-post-part {
  width: 600px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed-post-bottom {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.avatar-name {
  font-weight: 550;
  padding-left: 5px;
  margin: 5px;
}

.post-caption {
  margin: 5px;
  height: 50px;
}

.logout {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.upload-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button {
  width: 43px;
  height: 43px;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 4px;
}

.upload-form {
  position: absolute;
  top: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 5%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
}

.upload-container {
  display: flex;
  flex-direction: column;
  position: relative;
  display: inline-block;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px white;
  width: 260px;
  height: 144px;
  background-color: white;
  border-radius: 10%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-button {
  width: 260px;
  height: 48px;
  background: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline: 0;
}

.modal-button:hover {
  color: blue;
}

.delete-button {
  color: #ED4956;
}

.options-button {
  margin-left: 420px;
  margin-bottom: 10px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  outline: 0;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}

.options-line {
  height: 1px;
  width: 260px;
  background-color: lightgrey;
}

.file-name {
  width: 202px;
  margin: 5px;
}

.preview img {
  width: 250px;
  height: 250px;
  margin: 5px;
}

.text-field {
  margin: 0 auto;
  border: none;
  width: 95%;
  height: 100px;
  display: flex;
  justify-content: start;
  outline-width: 0;
  resize: none;
}

::placeholder {
  text-align: center;
}

.create-button {
  position: relative;
  left: 25px;
  bottom: 10px;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  height: 30px;
  width: 80%;
  font-size: 15px;
  font-weight: 600;
}

.more {
  max-width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;
}
