body {
  background-color: #fafafa80;
  font-family: Arial;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
  height: 77px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-button {
  width: 100px;
  height: 20px;
}

.navbar-spacer {
  width: 225px;
}

.logo-name-navbar {
  font-family: billabong;
  font-size: 35px;
  margin: 5px;
  font-weight: 100;
}

.logo-navbar {
  width: 45px;
  height: 45px;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.navbar-pipe {
  width: 1px;
  height: 32px;
  background-color: #262626;
  margin: 10px;
}

.welcome {
  font-family: billabong;
  font-size: 35px;
  font-weight: 100;
}

.profile-pic {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border-color: #000;
  margin: 10px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-index-list {
  list-style: none;
}

.feed-image {
  height: 600px;
  width: 600px;
}

.feed-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding-top: 80px;
}

.feed-post-part {
  width: 600px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 3px;
}

.feed-post-bottom {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.avatar-name {
  font-weight: 550;
  padding-left: 5px;
  margin: 5px;
}

.post-caption {
  margin: 5px;
}

.logout {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.upload-button {
  width: 43px;
  height: 43px;
  cursor: pointer;
  margin-right: 15px;
}

.upload-form {
  position: absolute;
  top: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  position: relative;
  display: inline-block;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}


