body {
  background-color: #fafafa80;
  font-family: Arial;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
}

.nav-button {
  width: 100px;
  height: 20px;
}

.navbar-spacer {
  width: 225px;
}

.logo-name-navbar {
  font-family: billabong;
  font-size: 35px;
  margin: 10px;
}

.logo-navbar {
  width: 45px;
  height: 45px;
  margin: 5px;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar-pipe {
  width: 1px;
  height: 32px;
  background-color: #262626;
  margin: 15px;
}

.welcome {
  font-family: billabong;
  font-size: 35px;
}