.user-profile-avatar1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
}

.user-profile-avatar2 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.user-avatar-container{
  width: 275px;
  height: 170px;
  display: flex;
  align-items: center;
}

.image-grid {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.user-profile-images {
  width: 293px;
  height: 293px;
  margin: 14px;
  cursor: pointer;
}

.user-prof-top {
  width: 50%;
  height: 170px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
  margin-top: 120px;
}

.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.upload-avatar-modal {
  position: relative;
  right: 193px;
  bottom: 100px;
  width: 400px;
  height: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 3%;
}

.change-title {
  width: 100%;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  padding-top: 40px;
}

.file-upload {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  font-weight: 600;
  color: #3897F0;
  padding-top: 15px;
}

.avatar-cancel {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.file-default {
  display: none;
}

.display-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.bio {
  margin-bottom: 5px;
}

.user-website {
  font-weight: bold;
  text-decoration: none;
  color: #305591;
} 

.username-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-count{
  margin-bottom: 20px;
}

.edit-profile {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  margin-left: 20px;
  font-size: 12px;
}

.user-edit-avatar {
  width: 38px;
  height: 38px;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
}

.user-edit-form {
  width: 696px;
  height: 425px;
  border: 1px solid #dbdbdb;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 150px;
  border-radius: 1%;
}

.name {
  margin: 0;
}

.pic-name-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.name-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.name-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.change-button {
  border: none;
  color: #3897F0;
  font-weight: 600;
  font-size: 12px;
  outline: 0;
  cursor: pointer;
}

.edit-name-field {
  margin-left: 20px;
  width: 355px;
  height: 32px;
  font-size: 16px;
  padding-left: 5px;
}

.edit-name-field-bio {
  margin-left: 20px;
  width: 355px;
  height: 64px;
  font-size: 16px;
  padding-left: 5px;
  resize: none;
}

.submit-button {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.user-errors {
  color: #ed4956;
  font-size: 14px;
  position: relative;
  right: 40px;
  margin: 0;
}
