.user-profile-avatar1 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
}

.user-profile-avatar2 {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.user-avatar-container{
  width: 275px;
  height: 170px;
  display: flex;
  align-items: center;
}

.image-grid {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.user-profile-images {
  width: 293px;
  height: 293px;
  margin: 14px;
}

.user-prof-top {
  width: 50%;
  height: 170px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
  margin-top: 120px;
}

.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.upload-avatar-modal {
  position: relative;
  right: 193px;
  bottom: 100px;
  width: 400px;
  height: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 3%;
}

.change-title {
  width: 100%;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
  padding-top: 40px;
}

.file-upload {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  font-weight: 600;
  color: #3897F0;
  padding-top: 15px;
}

.avatar-cancel {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.file-default {
  display: none;
}

.display-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.bio {
  margin-bottom: 5px;
}

.user-website {
  font-weight: bold;
  text-decoration: none;
  color: #305591;
} 

.username-edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-count{
  margin-bottom: 20px;
}

.edit-profile {
  text-decoration: none;
  color: black;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px;
  margin-left: 20px;
  font-size: 12px;
}
