// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
   font-family: billabong;
   src: asset-url('../fonts/billabong.ttf');
   src: asset-url('../fonts/billabong'),
        asset-url('../fonts/billabong.ttf') format('truetype'),
        asset-url('../fonts/billabong.svg#font') format('svg');
}

.logo-name {
  font-family: billabong;
  font-size: 40px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid;
  margin: 10px;
  background-color: #fff;
}

.bottom-authbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  margin: 10px;
}

.auth-button {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  margin: 10px;
}
