// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
   font-family: billabong;
   src: asset-url('../fonts/billabong.ttf');
   src: asset-url('../fonts/billabong'),
        asset-url('../fonts/billabong.ttf') format('truetype'),
        asset-url('../fonts/billabong.svg#font') format('svg');
}

.logo-name {
  font-family: billabong;
  font-size: 50px;
  margin: 10px;
  font-weight: 100;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  width: 300px;
}

.authbox {
  width: 300px;
  margin: auto;
}


.bottom-authbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  width: 300px;
}

.auth-button {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  margin: 10px;
  height: 30px;
  width: 80%;
  font-size: 15px;
  font-weight: 600;
}

.form-field {
  height: 30px;
  width: 80%;
  margin: 5px;
  background-color: #fafafa80;
}

.form-type {
  color: #999;
  text-align: center;
  font-weight: 600;
  line-height: 20px;
  font-size: 17px;
  margin: 0 40px 10px;
}

.or-text {
  color: #999;
  font-size: 17px;
  font-weight: 600;
  line-height: 15px;
  margin: 10px 10px;
}

.or-line {
  height: 1px;
  width: 90px;
  background-color: #999;
}

.or-line-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-form {
  display: flex;
  flex-direction: row;
}

.image-form img {
  margin: auto;
}

.box {
  width: 500px;
}

