.show-item {
  width: 999px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 3px;
}

.show-image {
  height: 533px;
  width: 533px;
}

.show-top {
  width: 447px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.show-side {
  display: flex;
  flex-direction: column;
}

.show-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.show-box {
  width: 999px;
  margin: auto;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-field {
  border: 1px solid #e6e6e6;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  width: 98%;
  height: 70px;
  display: flex;
  justify-content: start;
  outline-width: 0;
  resize: none;
  text-align: center;
}

.edit-modal-button {
  width: 260px;
  height: 48px;
  background: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: 1px white;
  outline: 0;
  padding-bottom: 5px;
}

.delete-show-button {
  width: 260px;
  height: 48px;
  background: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: 1px white;
  outline: 0;
  padding-bottom: 5px;
  color: red;
}

.edit-modal-button:hover {
  color: blue;
}

.edit-modal-sep {
  height: 1px;
  width: 260px;
  background-color:lightgrey;
}

.show-button {
  border: none;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.show-page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-name-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

