.show-item {
  width: 933px;
  display: flex;
  flex-direction: row;
  margin-top: 130px;
  margin-left: 18px;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 3px;
}

.show-image {
  height: 598px;
  width: 598px;
  object-fit: contain;
  background-color: black;
}

.show-top {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.show-side {
  width: 334px;
  display: flex;
  flex-direction: column;
}

.show-caption {
  display: flex;
  flex-direction: row;
  padding: 10px;
  overflow: scroll;
  height: 80px;
}

.show-box {
  width: 999px;
  margin: auto;
}

.edit-form {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-field {
  border: 1px solid #e6e6e6;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  width: 99%;
  height: 70px;
  display: flex;
  justify-content: start;
  outline-width: 0;
  resize: none;
  text-align: center;
  margin-bottom: 5px;
}

.edit-modal-button {
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  width: 260px;
  height: 48px;
  background: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: 1px white;
  outline: 0;
  padding-bottom: 5px;
}

.delete-show-button {
  width: 260px;
  height: 48px;
  background: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: 1px white;
  outline: 0;
  padding-bottom: 5px;
  color: red;
}

.edit-modal-button:hover {
  color: blue;
}

.edit-modal-sep {
  height: 1px;
  width: 260px;
  background-color:lightgrey;
}

.show-button {
  border: none;
  background-color: inherit;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.show-page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-name-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.caption-name {
  cursor: pointer;
}

.show-comments {
  height: 385px;
  border-bottom: 1px solid #e6e6e6; 
  overflow: scroll;
}

.comment-field {
  width: 270px;
  height: 18px;
  resize: none;
  border: none;
  margin-left: 16px;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
}

.comment-button {
  position: relative;
  bottom: 7px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  background-color: inherit;
  color: #3897F0;
  outline: none;
  cursor: pointer;
}


.comment-item {
  display: flex;
  flex-direction: row;
}

.delete-comment-button {
  width: 100%;
  height: 44px;
  color: red;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #e6e6e6;
  outline: none;
}

.delete-cancel-button {
  width: 100%;
  height: 44px;
  cursor: pointer;
  font-weight: 600;
  border-bottom: none;
  font-size: 14px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e6e6e6;
  outline: none;
}

.delete-cancel-button:hover {
  color: blue;
}

.delete-sep {
  width: 100%;
  background-color: #e6e6e6;
}

.comment-row {
  display: flex;
  flex-direction: row;
}

.username-comment{
  width: 230px;
}


.delete-comment-modal {
  position: relative;
  right: 193px;
  bottom: 100px;
  width: 300px;
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 20px;
}

.delete-dots {
  cursor: pointer;
}

.show-icons {
  width: 334px;
  height: 75px;
  border-bottom: 1px solid #e6e6e6; 
}


