.show-item {
  width: 999px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  border: 1px solid #e6e6e6;
  background-color: white;
  border-radius: 3px;
}

.show-image {
  height: 533px;
  width: 533px;
}

.show-top {
  width: 447px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.show-side {
  display: flex;
  flex-direction: column;
}

.show-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.show-box {
  width: 999px;
  margin: auto;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-field {
  margin-top: 5px;
  margin-left: 6px;
  border: none;
  width: 90%;
  height: 63px;
  display: flex;
  justify-content: start;
  outline-width: 0;
  resize: none;
}

.edit-modal-button {
  width: 260px;
  height: 35px;
  background: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline: 0;
}

.edit-modal-sep {
  height: 1px;
  width: 260px;
  background-color: grey;
}

